# This is a basic workflow to help you get started with Actions

name: Build (macOS, Fix)

on:
  workflow_dispatch:

jobs:
  buildMac:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4.1.7

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.4

      - name: Install Haxelib
        run: |
          mkdir -p ~/haxelib
          haxelib setup ~/haxelib
          haxelib install hxcpp
          haxelib install hscript
          bash ./docs/setup/mac.sh

      - name: Skip SScript setup mode
        run: echo 'oy9:showMacroty8:loopCosti25y10:includeAllfg' >> ~/settings.cocoa

      - name: Create Version Tag
        run: echo "${{ github.run_id }}" > VERSION

      - name: Compile
        run: haxelib run lime build mac --app-version="4.0.0-${{ github.run_id }}"

      - name: Publish Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: macBuild
          path: export/release/macos/bin
